{% extends 'training/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">تسجيل الدخول</h2>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">دخول</button>
                    </div>
                </form>
                <div class="mt-3 text-center">
                    <p><a href="{% url 'password_reset' %}">نسيت كلمة المرور؟</a></p>
                    <p>ليس لديك حساب؟ <a href="{% url 'register' %}">تسجيل حساب جديد</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
